@import "tailwindcss";

@theme {
  --font-sans: "Microsoft YaHei", "微软雅黑", "PingFang SC", "Hiragino Sans GB", sans-serif;
  --font-serif: "Microsoft YaHei", "微软雅黑", serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}
